.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

input, textarea{
    padding: 4px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #2c2c2c;
    height: 30px;
    background-color: transparent;
    color: #fff;
    width: 100%;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus, input:focus-within, textarea:focus, textarea:focus-within{
    border-color: #80bdff;
    border: 1px solid #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    
}

textarea{
    resize: vertical;
    max-height: 100px;
    /* width: 100%; */

}


.btn{
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    max-width: max-content;
    border-radius: 5px;
}

.upload-modal{
    z-index: 100;
    background-color: #000;
    position: fixed;
    color: #fff;
    left: 50%;
    top: 50%;
    width: 500px;
    height: 550px;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.upload-container{
    height: 100%;
    display: flex;
    max-height: 250px;
    border: 1px dashed #c1c0c0;
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    color: #c2c2c2;
    cursor: pointer;
}

.upload-container.dragover {
    border-color: #80bdff;
    background-color: rgba(0, 123, 255, 0.1);
}

.upload-preview {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: none;
}

.upload-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    overflow: hidden;
    align-items: center;
    margin-top: 5px;
}

.upload-modal-close{
    text-align: right;
    font-size: 25px;
    cursor: pointer;
}

.annotation{
    background-color: #0000009a;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 5px;
    color: #fff;
    width: 10px;
    height: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.expanded-annotation{
    position: absolute;
    left: 30px;
    padding: 0px;
    width: 0px;
    height: 0px;
    min-width: 0px;
    overflow: hidden;
    color: #fff;
    border-radius: 5px;
    background-color: #000000b1;
    transition: width 0.4s, min-width 0.4s, height 0.4s;
}

.annotation:hover .expanded-annotation {
    width: 150px;
    height: 200px;
    padding: 5px;
    min-width: 100px;
}

.art-title{
    font-size: 14px;
}

.art-description{
    font-size: 12px;
    text-align: left;
}

.twitter-acc{
    color: #1577c7;
}